@model HomeViewModel


    <section id="cardSearch">
        <header>
            <h2>Sports Cards</h2>
        </header>

        <p>M42 is an avid collector of sports related trading cards</p>
    </section>

<hr />

<section id="summarySection">

    <label>Football</label>
    <label>@Model.CardSearch.TotalCards</label>
    <br />
    <label>Baseball</label>
    <label>@Model.CardSearch.TotalCards</label>
    <br />
    <label>Basketball</label>
    <label>@Model.CardSearch.TotalCards</label>
    <br />
    <label>Hockey</label>
    <label>@Model.CardSearch.TotalCards</label>
    <br />
    <br />
    <label>Total</label>
    <label>@Model.CardSearch.TotalCards</label>


</section>