@model SeasonViewModel

<ul id="seasonPlayoffs" style="float:left; width: 100%; font-size:9pt;  list-style-type: none; margin: 0; padding: 0; column-fill: auto; height: 300px;">

    @foreach (var game in Model.Season.Playoffs)
    {
    <li>
        <div id="name" style="width:25%; float:left">
            @game.Name
        </div>
        <div id="date" style="width:25%; float:left">
            <a asp-area="Sports" asp-controller="Team" asp-action="Details" asp-route-id="@game.WinningTeam.Id">@game.WinningTeam.Name</a>
        </div>
        <div id="homeaway" style="width:5%; float:left">
            def
        </div>
        <div id="opponent" style="width:25%; float:left">
            <a asp-area="Sports" asp-controller="Team" asp-action="Details" asp-route-id="@game.LosingTeam.Id">@game.LosingTeam.Name</a>
        </div>
        <div id="score" style="width:20%; float:left">
            @game.Score
        </div>
        <div style="clear:both"></div>
    </li>
    }

</ul>

<div style="clear:both"></div>